<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link 
        rel="stylesheet" 
        type="text/css" 
        href="{{ url_for('static', filename='css/style.css') }}"
    >
    <title>Project</title>
</head>
<body>
    <div class="header center">
        <div class="padding">
            <h1>Project</h1>
        </div>
    </div>
    <div class="display_flex center padding">
        <div class="header padding margin_right">
            <h1>Register</h1>
            <div class="red">
                {% with messages = get_flashed_messages(category_filter = ['register']) %}
                    {% if messages %}
                        {% for message in messages %}
                            <p>{{message}}</p>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
            </div>
            <div>
                <form action="/create" method="post" class="display_flex flex_column">
                    <div class="margin"><label for="first_name">First Name:</label> <br>
                    <input type="text" name="first_name"></div>
                    <div class="margin"><label for="last_name">Last Name:</label> <br>
                    <input type="text" name="last_name"></div>
                    <div class="margin"><label for="email">Email:</label> <br>
                    <input type="text" name="email"></div>
                    <div class="margin"><label for="password">Password:</label> <br>
                    <input type="password" name="password"></div>
                    <div class="margin"><label for="cofirm_password">Confirm Password:</label> <br>
                    <input type="password" name="confirm_password"></div>
                    <div class="margin"><input type="submit" value="Register"></div>
                </form>
            </div>
        </div>
        <div class="header padding margin_left">
            <h1>Login</h1>
            <div class="red">
                {% with messages = get_flashed_messages(category_filter = ['login']) %}
                    {% if messages %}
                        {% for message in messages %}
                            <p>{{message}}</p>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
            </div>
            <div>
                <form action="/login" method="post" class="display_flex flex_column">
                    <div class="margin"><label for="email">Email:</label> <br>
                    <input type="text" name="email"></div>
                    <div class="margin"></divclass><label for="password">Password:</label><br>
                    <input type="password" name="password"></div> 
                    <div class="margin"><input type="submit" value="Login"></div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>